@import url('https://fonts.googleapis.com/css?family=Orbitron:500,900');

* {
    margin: 0;
    font-family: Orbitron;
}

/*Main image*/

.content {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    min-height: 100vh;
}

.image-shade {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;
}

/*Top Bar Section*/

.top-bar {
    width: 100%;
    height: 60px;
    color: #E8E8E8;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-content: center;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    position: fixed;
}

/* Changing navbar on scroll */

.top-bar.scrolled {
    transition-property: background-color;
    background-color: #000000;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.top-bar-content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-content h1 a {
    color: #E8E8E8;
    text-decoration: none;
    font-size: 1.2em;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.top-bar-content h1 a:hover {
    transition-property: color;
    color: #333333;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

/*Main part of the page*/

.main-content-section {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
}

.intro-text {
    width: 100%;
    margin: 20px 0;
    color: #E8E8E8;
}

.intro-text h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.intro-text p {
    font-size: 1.2em;
}

/*Links on the main page*/

.page-links {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.info-section {
    width: 100%;
    margin: 20px 0;
}

.text-overview {
    color: #E8E8E8;
}

.text-overview h3 {
    font-size: 1.6em;
    margin: 20px 0;
}

.text-overview p {
    font-size: 1.2em;
}

.page-links div div h4 {
    width: 100%;
}

/* Links to other pages */
/* Used for the different types of links on the different pages */

.text-overview h4,
.intro-text h4 {
    width: 100%;
    background-color: #333;
    height: 65px;
    margin: 15px 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.text-overview h4:hover,
.intro-text h4:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
}

.text-overview h4 a,
.intro-text h4 a {
    color: #E8E8E8;
    text-decoration: none;
    height: inherit;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/*Solar System Info Page*/

.solar-body-section {
    margin: 30px 0 60px 0;
}

.solar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.solar-body-image {
    width: 100%;
    height: auto;
}

.solar-system-button,
.question-submit-button {
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    border: 0;
}

.solar-body-overview {
    width: 100%;
    color: #E8E8E8;
}

.solar-body-overview h3 {
    font-size: 1.6em;
    margin: 20px 0;
}

.list {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.solar-body-overview .milky-way,
.solar-body-overview .sun, 
.solar-body-overview .mercury, 
.solar-body-overview .venus,
.solar-body-overview .earth,
.solar-body-overview .mars,
.solar-body-overview .asteroid-belt,
.solar-body-overview .jupiter,
.solar-body-overview .saturn,
.solar-body-overview .uranus,
.solar-body-overview .neptune,
.solar-body-overview .kuiper-belt,
.solar-body-overview .comets,
.solar-body-overview .oort-cloud {
    display: none;
    font-size: 1.2em;
}

.solar-body-overview .milky-way.active,
.solar-body-overview .sun.active , 
.solar-body-overview .mercury.active, 
.solar-body-overview .venus.active,
.solar-body-overview .earth.active,
.solar-body-overview .mars.active,
.solar-body-overview .asteroid-belt.active,
.solar-body-overview .jupiter.active,
.solar-body-overview .saturn.active,
.solar-body-overview .uranus.active,
.solar-body-overview .neptune.active,
.solar-body-overview .kuiper-belt.active,
.solar-body-overview .comets.active,
.solar-body-overview .oort-cloud.active {
    display: flex;
}

.solar-body-overview button {
    width: 100%;
    max-width: 400px;
    background-color: #333;
    color: #E8E8E8;
    text-decoration: none;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin: 15px 0;
    border: none;
    outline: none;
}

.solar-body-overview button:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
    cursor: pointer;
}

.quiz-section-info-page {
    width: 100%;
    margin-bottom: 100px;
}

.video-section {
    margin: 30px 0 60px 0;
}

.video-section .video iframe {
    max-width: 100%;
    height: 200px;
    border: 0;
}

.video-caption {
    color: #E8E8E8;
    margin: 20px 0 0 0;
}

/*Quiz Page*/

.name-input-section {
    margin: 10px 0;
}

.input-boxes {
    display: flex;
    flex-direction: column;
}

.name-input-label {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.name-input-field {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background-color: #000;
    font-size: 20px;
    color: #E8E8E8;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 10px;
}

.solar-system-link .solar-system-button {
    text-decoration: none;
    color: #E8E8E8;
    font-weight: 900;
}

/* Questions */ 

.question-section {
    margin-bottom: 20px;
}

.question-number {
    font-size: 1.3em;
    font-weight: 600;
}

.radio-button {
    margin: 3px 0;
    margin-left: 20px;
}

.radio-button label {
    font-size: 1.2em;
}

.radio-button label input:hover {
    cursor: pointer;
}

.radio-button-input {
    margin-right: 20px;
}

.question-submit-button {
    height: 65px;
    color: #E8E8E8;
    background-color: #333;
    border: 0;
    width: 100%;
    font-size: 1.6em;
    font-weight: 600;
    margin: 15px 0;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.question-submit-button:hover {
    transition-property: background-color;
    background-color: #000;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.radio-button label {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.radio-button label input {
    height: 20px;
    width: 20px;
}

/* Quiz Completed buttons */

.quiz-completed-leaderboard-link {
    width: 100%;
    background-color: #333;
    height: 65px;
    margin: 15px 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.quiz-completed-leaderboard-link:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
}

.quiz-completed-leaderboard-link a {
    color: #E8E8E8;
    text-decoration: none;
    height: inherit;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3;
    transition-timing-function: ease-in-out;
}

/* Leaderboard Page */

.leaderboard {
    width: 100%;
    padding: 20px 0;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard-header-row {
    border: 2px solid #dddddd;
    height: 65px;
    background-color: #333333;
    font-size: 1.4em;
    font-weight: 900;
}

.leaderboard-username {
    border: 1px solid #4A4343;
    height: 50px;
    align-items: center;
    padding: 0 10px;
}

#username {
    font-size: 1.2em;
    text-align: left;
}

#score {
    font-size: 1.6em;
    font-weight: 900;
    text-align: center;
}

/*Buttons at the bottom of the leaderboard*/

.leaderboard-page-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.leaderboard-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: #333;
    border: 0;
    width: 100%;
    font-size: 1.6em;
    font-weight: 600;
    margin: 15px 0;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.leaderboard-link:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
    cursor: pointer;
}

.leaderboard-page-buttons h4 a {
    text-decoration: none;
    color: #E8E8E8;
}

/*Footer area*/

/*Social media links*/

.footer-area {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social {
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
    font-size: 30px;
    color: #E8E8E8;
}

.social-links li a i {
    display: flex;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #E8E8E8;
}

.social-links li a i:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #333333;
}

@media(min-width: 500px) {
    
    .video-section .video iframe {
        height: 350px;
    }
}

@media(min-width: 768px) {
    
    .page-links {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .info-section,
    .quiz-section {
        width: 45%;
    }
    
    /*Solar Info Page*/
    
    .solar-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .solar-system-link-info-page {
        max-width: 45%;
    }
    
    .video-section .video iframe {
        height: 450px;
    }
    
    /* Leaderboard Page*/
    
    .leaderboard-page-buttons {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .leaderboard-link {
        max-width: 45%;
    }
        
    /*Quiz page*/
    
    .name-input-field {
        width: 45%;
    }
    
    .question-submit-button {
        width: 45%;
    }
    
    .text-overview h4 {
        width: 45%;
    }
    
    /* Quiz completed link */
    
    .intro-text .quiz-completed-leaderboard-link {
        width: 45%;
    }
    
}

@media(min-width: 992px) {
    
    .container {
        max-width: 900px;
        margin: auto;
    }
    
    .video-section .video iframe {
        height: 500px;
        max-width: 100%;
    }
    
}