@import url('https://fonts.googleapis.com/css?family=Orbitron:500,900');

* {
    margin: 0;
    font-family: Orbitron;
}

/*Main image*/

.content {
    background-image: url("../images/stars.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    min-height: 100vh;
}

.image-shade {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: inherit;
}

/*Top Bar Section*/

.top-bar {
    height: 80px;
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
}

.top-bar-content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-content h1 a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

/*Main part of the page*/

.main-content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
}

.intro-text {
    width: 100%;
    margin: 20px 0;
    color: #fff;
}

.intro-text h2 {
    font-size: 2em;
}

.intro-text p {
    font-size: 1.2em;
}

/*Links on the main page*/

.page-links {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.info-section {
    width: 100%;
    margin: 20px 0;
}

.text-overview {
    color: #fff;
}

.text-overview h3 {
    font-size: 1.6em;
    margin: 20px 0;
}

.text-overview p {
    font-size: 1.2em;
}

/*Links to other pages*/

.text-overview h4 {
    width: 100%;
    background-color: #333;
    height: 65px;
    margin: 15px 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.text-overview h4:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
}

.text-overview h4 a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3;
    transition-timing-function: ease-in-out;
}

/*Solar System Info Page*/

.solar-body-section {
    margin: 30px 0 60px 0;
}

.solar-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.solar-body-image {
    width: 100%;
    height: auto;
}

.solar-system-button {
    width: 100%;
    height: 65px;
    padding: 0;
    margin: 0;
    border: 0;
}

.solar-body-overview {
    width: 100%;
    color: #fff;
}

.solar-body-overview h3 {
    font-size: 1.6em;
    margin: 20px 0;
}

.list {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.solar-body-overview .milky-way,
.solar-body-overview .sun, 
.solar-body-overview .mercury, 
.solar-body-overview .venus,
.solar-body-overview .earth,
.solar-body-overview .mars,
.solar-body-overview .asteroid-belt,
.solar-body-overview .jupiter,
.solar-body-overview .saturn,
.solar-body-overview .uranus,
.solar-body-overview .neptune,
.solar-body-overview .kuiper-belt,
.solar-body-overview .comets,
.solar-body-overview .oort-cloud {
    display: none;
    font-size: 1.2em;
}

.solar-body-overview .milky-way.active,
.solar-body-overview .sun.active , 
.solar-body-overview .mercury.active, 
.solar-body-overview .venus.active,
.solar-body-overview .earth.active,
.solar-body-overview .mars.active,
.solar-body-overview .asteroid-belt.active,
.solar-body-overview .jupiter.active,
.solar-body-overview .saturn.active,
.solar-body-overview .uranus.active,
.solar-body-overview .neptune.active,
.solar-body-overview .kuiper-belt.active,
.solar-body-overview .comets.active,
.solar-body-overview .oort-cloud.active {
    display: flex;
}

.solar-body-overview button {
    width: 100%;
    background-color: #333;
    height: 65px;
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    margin: 15px 0;
    border: none;
    outline: none;
}

.solar-body-overview button:hover {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: #000;
    cursor: pointer;
}

.quiz-section-info-page {
    width: 100%;
    margin-bottom: 100px;
}

/*Quiz Page*/

.name-input-section {
    margin: 10px 0;
}

.input-boxes {
    display: flex;
    flex-direction: column;
}

.name-input-label {
    margin-bottom: 20px;
    font-size: 1.3em;
}

.name-input-field {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background-color: #000;
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
    border: 1px solid #333;
    padding: 10px;
}


/*
#quiz-intro {
    display: block;
}

#quiz-intro.not-active {
    display: none;
}
*/
/*Question loop*/
/*
#question-1,
#question-2,
#question-3,
#question-4,
#question-5,
#question-6,
#question-7,
#question-8,
#question-9,
#question-10,
#question-11,
#question-12,
#question-13,
#question-14,
#question-15,
#question-16,
#question-17,
#question-18,
#question-19,
#question-20 {
    display: none;
}

#question-1.active,
#question-2.active,
#question-3.active,
#question-4.active,
#question-5.active,
#question-6.active,
#question-7.active,
#question-8.active,
#question-9.active,
#question-10.active,
#question-11.active,
#question-12.active,
#question-13.active,
#question-14.active,
#question-15.active,
#question-16.active,
#question-17.active,
#question-18.active,
#question-19.active,
#question-20.active {
    display: block;
}
*/
/*Footer area*/

/*Social media links*/

.footer-area {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 600px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.social {
    margin: 0 10px;
}

.social-links li a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}

.social-links li a i {
    display: flex;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #fff;
}

.social-links li a i:hover {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    color: #333333;
}

@media(min-width: 768px) {
    
    .page-links {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .info-section,
    .quiz-section {
        width: 45%;
    }
    
    /*Solar Info Page*/
    
    .solar-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .solar-section {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .solar-system-link-info-page {
        max-width: 45%;
    }
    
    /*Quiz page*/
    
    .name-input-field {
        width: 45%;
    }
    
}

@media(min-width: 992px) {
    
    .container {
        max-width: 900px;
        margin: auto;
    }
    
}


