{% extends 'base.html' %}
{% block content %}
<div class="intro-text">
    <h2>{{ page_heading }}</h2>
    <p>Welcome to Solar System Quiz! A site that tests your knowledge of the solar system. If you need to brush up on what you know prior to the quiz, check out Solar System Info. If you feel you are ready then dive in! Be sure to check out the leaderboard when you've finished to see where you rank!</p>
</div>
<div class="page-links">
    <div class="info-section">
        <div class="text-overview">
            <h3>The Solar System</h3>
            <p>The earth, where we live is part of the solar system, which is made of of many objects, all orbiting the sun. Click on the button below for all the info you need to take the quiz.</p>
            <h4 class="solar-system-link"><a href="{{ url_for('solar_info') }}">Solar System Info</a></h4>
        </div>
    </div>
    <div class="quiz-section">
        <div class="text-overview">
            <h3>Take the quiz</h3>
            <p>Think you know your Solar System? Now you've looked at the information, take the test and see how you do. Be sure to look at the leaderboard to see how you compare. Good Luck!</p>
            <h4 class="solar-system-link"><a href="{{ url_for('solar_quiz') }}">Take Quiz</a></h4>
        </div>
    </div>
</div>
{% endblock %}
