{% extends 'base.html' %}
{% block content %}
<div class="intro-text">
    <h2>{{ page_heading }}</h2>
</div>
<form method="POST" class="input-boxes">
    {% for question in questions %}
    <div class="question-section">
        <div class="intro-text">
            <p class="intro-text"><span class="question-number">Question {{ question.id }}: </span>{{ question.question }}</p>
        </div>
        <div class="solar-body-overview solar-section">
            <div class="radio-button">
                <label for="{{ question.choices[0] }}"><input class="radio-button-input" type="radio" id="{{ question.choices[0] }}" name="{{ question.question }}" value="{{ question.choices[0] }}" required/>{{ question.choices[0] }}</label>
            </div>
            <div class="radio-button">
                <label for="{{ question.choices[1] }}"><input class="radio-button-input" type="radio" id="{{ question.choices[1] }}" name="{{ question.question }}" value="{{ question.choices[1] }}" required/>{{ question.choices[1] }}</label>
            </div>
            <div class="radio-button">
                <label for="{{ question.choices[2] }}"><input class="radio-button-input" type="radio" id="{{ question.choices[2] }}" name="{{ question.question }}" value="{{ question.choices[2] }}" required/>{{ question.choices[2] }}</label>
            </div>
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Submit Answers" id="begin-quiz" class="question-submit-button" href="{{ url_for('quiz_completed') }}">
</form>
{% endblock %}
