{% extends 'base.html' %}
{% block content %}

<div class="intro-text">
    <h2>{{ page_heading }}</h2>
    
    <!--Message to be displayed according to the result scored. Flashed messages set in the quiz_completed function in the run.py file-->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    <!--Link to the leaderboard-->
    <h4 class="quiz-completed-leaderboard-link"><a href="{{ url_for('leaderboard') }}">Leaderboard</a></h4>
</div>    

{% endblock %}