{% extends 'base.html' %}
{% block content %}
<div class="intro-text">
    <h2>{{ page_heading }}</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="text-overview">
        <p>{{ message }}</p>
        <h4 class="solar-system-link"><a href="{{ url_for('get_question', username=username, firstname=firstname, lastname=lastname, id = 1) }}">First Question</a></h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% endblock %}