{% extends 'base.html' %}
{% block content %}
<div class="intro-text">
    <h2>{{ page_heading }}</h2>
</div>
  
{% for solar_body in solar_bodies_data %}
<div class="solar-body">
    <div class="solar-body-image solar-section">
        <img src="{{ solar_body.image_source }}" alt="picture of {{ solar_body.name }}" width="100%" />
    </div>
    <div class="text-overview solar-section">
        <button id="more-info" class="solar-system-button"><h4 class="solar-system-link">{{ solar_body.name }} Info</h4></button>
        <p>{{ solar_body.description }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}