{% extends 'base.html' %}
{% block content %}
<div class="intro-text">
    <h2>{{ page_heading }}</h2>
    <p class="intro-text">This page contains all the answers you would need to take the quiz. Find out all you need to know about the solar system... and a bit beyond. You will find information about the orbits of the planets, their moons and their composition. Where you see the word AU(Astronomical Unit), it represents the distance between the Sun and Earth. For example, if you see 100AU, this means 100 times the distance of the Sun to the Earth.</p>
</div>
  
{% for solar_body in solar_bodies_data %}

<div class="solar-body-section">
    <div class="solar-body-overview">
        <h3>{{ solar_body.name }}</h3>
    </div>
    <div class="solar-body">
        <div class="solar-body-overview solar-section">
{% if solar_body.type.lower() == "planet" %}
            <p class="list">Type: {{ solar_body.type }}<p>
            <p class="list">Distance from Sun: {{ solar_body.distance_from_sun }}<p>
            <p class="list">Orbit Duration: {{ solar_body.orbit_duration }}<p>
            <p class="list">Diameter: {{ solar_body.diameter }}<p>
            <p class="list">Moons: {{ solar_body.moons }}<p>
                
{% elif solar_body.type.lower() == "galaxy" %}
            <p class="list">Type: {{ solar_body.type }}<p>
            <p class="list">Number of stars: {{ solar_body.number_of_stars }}<p>
                
{% elif solar_body.type.lower() == "star" %}
            <p class="list">Type: {{ solar_body.type }}<p>
            <p class="list">Diameter: {{ solar_body.diameter }}<p>
            <p class="list">Temperature: {{ solar_body.temperature }}</p>
            
{% elif solar_body.type.lower() == "kuiper belt" %}
            <p class="list">Type: {{ solar_body.type }}<p>
            <p class="list">Largest Object: {{ solar_body.largest_object }}<p>
            <p class="list">Orbit Duration: {{ solar_body.orbit_duration }}<p>
            <p class="list">Width: {{ solar_body.width }}<p>
                
{% elif solar_body.type.lower() == "asteroids" %}
            <p class="list">Type: {{ solar_body.type }}<p>
            <p class="list">Largest Object: {{ solar_body.largest_object }}<p>
            <p class="list">Width of Belt: {{ solar_body.width }}<p>
            
{% elif solar_body.type.lower() == "comet" %}
            <p class="list">Type: {{ solar_body.type }}<p>
            <p class="list">Diameter: {{ solar_body.diameter }}<p>
            
{% else %}
            <p class="list">What is it?: {{ solar_body.type }}</p>
            <p class="list">Distance from sun: {{ solar_body.distance_from_sun }}<p>
            
{% endif %}
            <button id="{{ solar_body.id }}" class="solar-system-button"><h4 class="solar-system-link">More Info</h4></button>
            <p class="description {{ solar_body.id }}">{{ solar_body.description }}</p>
        </div>
        <div class="solar-body-image solar-section">
            <img src="{{ solar_body.image_source }}" alt="picture of {{ solar_body.name }}" width="100%" />
        </div>
    </div>
</div>

{% endfor %}

<div class="solar-body-section">
    <div class="text-overview">
        <h3>Solar System Size Comparison</h3>
        <p class="intro-text">See the video which compares the sizes of the different objects in the Solar System. </p>
    </div>
    <iframe width="956" height="538" src="https://www.youtube.com/embed/ampcQYXHkM4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <figcaption class="intro-text"><em>Source: MetaBallStudio Youtube channel</em></figcaption>
</div>

<div class="quiz-section-info-page">
    <div class="text-overview">
        <h3>Take the quiz</h3>
        <p class="intro-text">Now you've been through the information, you should be in a position to take the test. Be sure to look at the leaderboard to see how you compare when you've finished. If you do not score well, don't worry. You will be able to come back to the info page and brush up on your knowledge at any time. Good Luck!</p>
        <h4 class="solar-system-link-info-page"><a href="{{ url_for('solar_quiz') }}">Take Quiz</a></h4>
    </div>
</div>

{% endblock %}