{% extends 'base.html' %}
{% block content %}
<div id="quiz-intro" class="intro-text">
    <h2>{{ page_heading }}</h2>
    <p class="intro-text">Now you've been through the info, and know what you need to, it's time to take the quiz! Answer the questions and submit your answers as you go. Enter your name and begin! At the end be sure to see how your score compares.</p>
    <form method="POST" class="input-boxes">
        <input class="name-input-field" type="text" id="firstname" name="firstname" placeholder="Type First Name" required/>
        <input class="name-input-field" type="text" id="lastname" name="lastname" placeholder="Type Last Name" required/>
        <div class="solar-body-overview solar-section">
            <button id="begin-quiz" class="solar-system-button"><h4 class="solar-system-link">Begin Quiz</h4></button>
        </div>
    </form>
</div>

{% for question in question_list %}

<div id="question-{{ question.question_number }}" class="intro-text">
    <h2>Question {{ question.question_number }}</h2>
    <p class="intro-text">{{ question.question_ask }}</p>
    <form method="POST" class="input-boxes">
        <input class="name-input-field" type="text" id="question-{{ question.question_number }}" name="answer" placeholder="Type Answer" required/>
        <div class="solar-body-overview solar-section">
            <button id="question-{{ question.question_number }}-next-question" class="solar-system-button"><h4 class="solar-system-link">Next</h4></button>
        </div>
    </form>
</div>

{% endfor %}

{% endblock %}